@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/OpenSans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/OpenSans.ttf') format('truetype');
}

/*Helpers*/
.hidden{
	display: none;
}

.noOverflow{
	overflow: hidden;
}

/*Main config*/
html, body{
	font-family: Open Sans;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body{
	background-color: rgb(230,230,230);
	min-width: 1040px;
	min-height: 715px;
}

#containerDiv{
	margin: 0;
	padding: 0;
	padding-top: 5px;
	overflow: hidden;
	height: 95%;
}

#contentDiv{
	margin: 2.5% auto;
	overflow: scroll;
	width: 90%;
	height: 90%;
}

#progressDiv{
	display: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#progressDiv #outerProgress{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	display: block;
}

#progressDiv #innerProgress{
	height: 100%;
	width: 0%;
	background-color: white;
	display: block;
}


/*Home page*/

#box {
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: left;
	width: 300px;
	height: 140px;
	margin: 6px;
}
.p2pBox{
	background-image: url(../immages/p2p.png);
	background-size: cover;
}
.filler{
	height: 100%;
	width: 100%;
}
.filler:hover{
	background: rgba(0, 0, 0, 0.3);
}
.whiteBox{
	background-color: white;
}
.whiteBox:hover{
	background-color: rgb(240,240,240);
}
#box2 {
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: left;
	width: 144px;
	height: 140px;
	margin: 6px;
}
.after-box {
	clear: left;
}
#button{
	width: 936px;
	margin: 0 auto;
}

/*P2P input page*/

#p2pInputContainer{
	height: 80%;
	width: 50%;
	background-color: orange;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25%;
}

#p2pInputContainer table{
	height: 90%;
	margin: 0 auto;
	margin-top: 5%;
}

#p2pInputContainer table tr td{
	padding: 20px;
}

#p2pInputContainer table tr:first-child{
	text-align: right;
	width: 400px;
	padding: 20px 0px;
}

#p2pInputContainer table tr td input{
	height: 20px;
}

/*Results View*/

#resultsView{
	height: 80%;
	width: 50%;
	background-color: orange;
	position: absolute;
	left: 150%;
	margin-left: -25%;
}
.inputField{
	padding: 50px;
	margin: 0 auto;
}
