/*Helpers*/
.hidden{
	display: none;
}

.noOverflow{
	overflow: hidden;
}

/*Main parts - home*/
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body{
	background-color: lightblue;
}

#containerDiv{
	margin: 0;
	padding: 0;
	padding-top: 5px;
	overflow: hidden;
	height: 95%;
}

#contentDiv{
	margin: 2.5% auto;
	overflow: scroll;
	width: 90%;
	height: 90%;
}

#progressDiv{
	display: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#progressDiv #outerProgress{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	display: block;
}

#progressDiv #innerProgress{
	height: 100%;
	width: 0%;
	background-color: white;
	display: block;
}


/*P2P input page*/

#p2pInputContainer{
	height: 80%;
	width: 50%;
	background-color: orange;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25%;
}

#p2pInputContainer table{
	height: 90%;
	margin: 0 auto;
	margin-top: 5%;
}

#p2pInputContainer table tr td{
	padding: 20px;
}

#p2pInputContainer table tr:first-child{
	text-align: right;
	width: 400px;
	padding: 20px 0px;
}

#p2pInputContainer table tr td input{
	height: 20px;
}

/*Results View*/

#resultsView{
	height: 80%;
	width: 50%;
	background-color: orange;
	position: absolute;
	left: 150%;
	margin-left: -25%;
}
