<div id="arrivalBoard">
	<div id="arrivalItem" class="clearfix">
		<div class="mainArrival">
			<p class="arrivalSub"><a class="grey">{{ cityArrival }}</a>, {{ arrivalName }}</p>
			<p class="arrivalText"><a class="grey">{{ cityDeparture }}</a>, {{ departureName }}</p>
		</div>
		<div class="complArrival">
			<p class="minuti">{{ time }}'</p>
		</div>
	</div>
</div>