	<div id="arrivalItem" class="clearfix">
		<div class="lineNumber">
			<p class="minuti">{{ lineNumber }}</p>
		</div>
		<div class="mainArrival">
			<p class="arrivalText">{{ arrivalName }}</p>
			<p class="arrivalSub">{{ departureName }}</p>
		</div>
		<div class="complArrival">
			<p class="minuti">{{ time }}'</p>
		</div>
	</div>