<div id="arrivalMain" class="clearfix">
	<table>
		<tr>
			<td class="grey">Line:</td>
			<td>{{ lineNumber }}</td>
		</tr>
		<tr>
			<td class="grey">Direction: </td>
			<td>{{ arrivalName }}</td>
		</tr>
		<tr>
			<td class="grey">From:</td>
			<td>{{ departureName }}</td>
		</tr>
	</table>
	<div class="minuti">{{ time }}</div>
</div>