<div id="arrivalBoard">
	<div class="currentTime">
		<iframe src="http://free.timeanddate.com/clock/i4g8f8ma/n1977/tlch/fn16/fs36/tct/pct/tt0/tw1/tm1/ts1" frameborder="0" width="405" height="44" allowTransparency="true"></iframe>
	</div>
	{{ variabile }}
</div>