<div class="resultSlider">
	<div id="result">
		<table>
			<tr>
				<td colspan="4" class=""><a href="#" class="calButton" title="Add this journey to your calendar"></a></td>
			</tr>
			<tr>
				<td colspan="4" class="FromTo">{{ stationFrom }} <a class="grey">to</a> {{ stationTo }}</td>
			</tr>
			<tr>
				<td class="grey">Time:</td>
				<td class="time">{{ departureTime }}</td>
				<td class="grey">Platform:</td>
				<td class="platform">{{ departurePlatform }}</td>
			</tr>
			<tr>
				<td class="greyDate">Date:</td>
				<td class="date">{{ departureDate }}</td>
	            <td class="greyDate">Duration:</td>
	            <td class="duration">{{ duration }}</td>
			</tr>
			<tr class="important">
				<td colspan="2">{{ stationFrom }}</td>
				<td>{{ departureTime }}</td>
				<td class="platform">{{ departurePlatform }}</td>
			</tr>
			{{ transfers }}
			<tr class="important">
				<td colspan="2">{{ stationTo }}</td>
				<td>{{ arrivalTime }}</td>
				<td class="platform">{{ arrivalPlatform }}</td>
			</tr>
			<tr class="hidden">
			    <td>stationFrom|{{ stationFrom }}</td>
			    <td>stationTo|{{ stationTo }}</td>
			    <td>departureTime|{{ departureTime }}</td>
			    <td>departureDate|{{ departureDate }}</td>
			    <td>arrivalTime|{{ arrivalTime }}</td>
			    <td>arrivalDate|{{ arrivalDate }}</td>
			    <td>departurePlatform|{{ departurePlatform }}</td>
			    <td>arrivalPlatform|{{ arrivalPlatform }}</td>
			</tr>
		</table>
	</div>
</div>
