<tr class="grey">
    <td colspan="2" class="transfer">{{ intermediateStep }}</td>
    <td class="transfer">{{ arrivalTimeStep }}</td>
    <td class="transfer platform">{{ arrivalPlatform }}</td>
</tr>