<tr class="grey">
   <td colspan="2" class="transfer">{{ intermediateStationArrival }}</td>
   <td class="transfer">{{ arrivalTimeStep }}</td>
   <td class="transfer platform">{{ arrivalPlatform }}</td>
</tr>
