<div id="{{ resultsNumber }}" class="weatherBox">
    <div class="basicInfo">
        <p class="dayName">{{ dayName }} {{ dayNumber }}</p>
        <div class="forecast">
            {{ forecastCode }}
        </div>
        <div class="degree">
            {{ mainTemp }}° C
        </div>
    </div>
    <div class="expandedInfo hidden">
        <table>

            <tr>
                <td><!-- <ul class="imgEI"><li class="icon-drizzle"></li></ul> --></td>
                <td>Humidity</td>
                <td>{{ humidity }}</td>
            </tr>
            <tr>
                <td></td>
                <td>Pressure</td>
                <td>{{ pressure }}</td>
            </tr>
            <tr>
                <td></td>
                <td>Wind Speed</td>
                <td>{{ windSpeed }}</td>
            </tr>
            <tr>
                <td></td>
                <td>Day</td>
                <td>{{ dayTemp }}° C</td>
            </tr>
            <tr>
                <td></td>
                <td>Evening</td>
                <td>{{ eveningTemp }}° C</td>
            </tr>
            <tr>
                <td></td>
                <td>Max</td>
                <td>{{ maxTemp }}° C</td>
            </tr>
            <tr>
                <td></td>
                <td>Min</td>
                <td>{{ minTemp }}° C</td>
            </tr>
            <tr>
                <td></td>
                <td>Morning</td>
                <td>{{ morningTemp }}° C</td>
            </tr>
            <tr>
                <td></td>
                <td>Night</td>
                <td>{{ nightTemp }}° C</td>
            </tr>

        </table>
    </div>
</div>