<div id="{{ resultsNumber }}" class="weatherBox">
    <div class="basicInfo">
        <p class="dayName">{{ dayName }} {{ dayNumber }}</p>
        <div class="forecast">
            {{ forecastCode }}
        </div>
        <div class="degree">
            {{ mainTemp }}° C
        </div>
    </div>
    <div class="expandedInfo hidden">
        <table>

            <tr>
                <td class="grey">Min</td>
                <td>{{ minTemp }}° C</td>
                <td class="grey">Evening</td>
                <td>{{ eveningTemp }}° C</td>
            </tr>
            <tr>
                <td class="grey">Max</td>
                <td>{{ maxTemp }}° C</td>
                <td class="grey">Morning</td>
                <td>{{ morningTemp }}° C</td>
            </tr>
            <tr>
                <td class="grey">Day</td>
                <td>{{ dayTemp }}° C</td>
                <td class="grey">Night</td>
                <td>{{ nightTemp }}° C</td>
            </tr>
            <tr>
                <td class="grey">Humidity</td>
                <td>{{ humidity }} %</td>
                <td class="grey">Pressure</td>
                <td>{{ pressure }} hPa</td>
            </tr>
            <tr>
                <td class="grey">Wind Speed</td>
                <td>{{ windSpeed }} mps</td>


            </tr>
        </table>
    </div>
</div>