/****************************************************/
/*CSS Animations*/

.persp{
	perspective: 1000px;
}

.box, .box2{
	position: relative;
}

.flipper{
	position: relative;
	height: 100%;
	width: 100%;
}

.box .front, .box .back, .box2 .front, .box2 .back{
	/*-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* front pane, placed above back */
.box .front, .box2 .front {
	z-index: 2;
	/* for firefox 31 */
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.box .back, .box2 .back {
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}


.box.flip div div, .box2.flip div div{
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center
}


/*KEYFRAMES*/
/*Need 2 keyframes, one for Webkit and one for the rest*/

/*Flip out and grow*/

@-webkit-keyframes openPage{
	0%{
		-webkit-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	50%{
		width: 60%;
		height: 60%;
		-webkit-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
		top: 20%;
		left: 20%;
	}
	60%{
		width: 80%;
		height: 80%;
		-webkit-transform: rotateY(-110deg);
		-ms-transform: rotateY(-110deg);
		-o-transform: rotateY(-110deg);
		transform: rotateY(-110deg);
		top: 10%;
		left: 10%;
	}
	75%{
		width: 90%;
		height: 90%;
		-webkit-transform: rotateY(-160deg);
		-ms-transform: rotateY(-160deg);
		-o-transform: rotateY(-160deg);
		transform: rotateY(-160deg);
		top: 5%;
		left: 5%;
	}
	100%{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
}

@keyframes openPage{
	0%{
		-webkit-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	50%{
		width: 60%;
		height: 60%;
		-webkit-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
		top: 20%;
		left: 20%;
	}
	60%{
		width: 80%;
		height: 80%;
		-webkit-transform: rotateY(-110deg);
		-ms-transform: rotateY(-110deg);
		-o-transform: rotateY(-110deg);
		transform: rotateY(-110deg);
		top: 10%;
		left: 10%;
	}
	75%{
		width: 90%;
		height: 90%;
		-webkit-transform: rotateY(-160deg);
		-ms-transform: rotateY(-160deg);
		-o-transform: rotateY(-160deg);
		transform: rotateY(-160deg);
		top: 5%;
		left: 5%;
	}
	100%{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
}


/*Fade out*/
@-webkit-keyframes fadeOut{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.4;
	}
	100%{
		opacity: 0;
	}
}

@keyframes fadeOut{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.4;
	}
	100%{
		opacity: 0;
	}
}

/*Fade in*/
@-webkit-keyframes fadeIn{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.4;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.4;
	}
	100%{
		opacity: 1;
	}
}

/*Fade in*/
@-webkit-keyframes slideOffScreen{
	50%{
		left: 65%;
	}
	100%{
		left: 110%;
	}
}

@keyframes slideOffScreen{
	50%{
		left: 65%;
	}
	100%{
		left: 110%;
	}
}


/*Perform animations*/
.box.flip, .box2.flip {
	z-index: 5;
	margin: 0;

	/*The flip*/
	-webkit-animation: openPage .8s ease-in 0s normal forwards;
	-o-animation: openPage .8s ease-in 0s normal forwards;
	animation: openPage .8s ease-in 0s normal forwards;
}


#overlayView.fadeOut{
	-webkit-animation: fadeOut .8s ease-in .3s normal forwards;
	-o-animation: fadeOut .8s ease-in .3s normal forwards;
	animation: fadeOut .8s ease-in .3s normal forwards;
}

.expButImg{
	-webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;

	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.upsideDown{
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

#innerProgress.animateProgress{
	-webkit-animation: slideOffScreen 1.5s linear 0s infinite forwards;
	-o-animation: slideOffScreen 1.5s linear 0s infinite forwards;
	animation: slideOffScreen 1.5s linear 0s infinite forwards;
}
