/*Home page*/

/*BOX SPECIFICS*/
.p2pBox{
	background: #ab1800;
	background-image: url(../images/p2p1.png);
	background-size: cover;
}
.arrivalBoard{
	background-color: #133e88;
	background-image: url(../images/arrivalBoard.png);
	background-size: cover;	
}
.weather{
	background-color: #419b0a;
	/*background-image: url(../images/arrivalBoard.png);*/
	background-size: cover;	
}