/****************************************************/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/OpenSans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/OpenSans.ttf') format('truetype');
}


/****************************************************/
/*Helpers*/

.hidden{
	display: none;
}

.noOverflow{
	overflow: hidden;
}

.clearfix:after{
	clear: both;
	visibility: hidden;
	content: " ";
	display: block;
	height: 0px;
}



/****************************************************/
/*Main config*/

html, body{
	font-family: Open Sans;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body{
	background-color: rgb(230,230,230);
	min-height: 715px;
}

#containerDiv{
	margin: 0;
	padding: 0;
	padding-top: 5px;
	overflow: hidden;
	height: 95%;
	position: relative;
}

#contentDiv{
	margin: 2.5% auto;
	/*overflow: scroll;*/
	width: 90%;
	height: 90%;
}

#progressDiv{
	display: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

#progressDiv #outerProgress{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	display: block;
}

#progressDiv #innerProgress{
	height: 100%;
	width: 0%;
	background-color: white;
	display: block;
}

/****************************************************/
/*Overlay classes*/

#overlayView{
	height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 400;
}

#overlayView *{
	padding: 5px 0 0 0;
}


/****************************************************/
/*Home page*/
/*Config*/

.box {
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: left;
	width: 300px;
	height: 140px;
	margin: 6px;
}
.whiteBox{
	background-color: white;
}
.whiteBox:hover{
	background-color: rgb(240,240,240);
}
.box2 {
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: left;
	width: 144px;
	height: 140px;
	margin: 6px;
}

#button, #loadedContent{
	max-width: 936px;
	margin: 30vh auto 0 auto;

}
@media (max-width: 1036px) {
  #button {
  	width: 626px;
  }
}

.front.overlay{
	background: rgba(25,25,25,0.7);
	color: white;
	text-align: center;
	display: none;
    vertical-align: middle;
    font-size: 20pt;
}

.front.overlay:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.flipper:hover .front.overlay{
	display: inline-block;
}

/****************************************************/
/*P2P input page*/


#p2pInputContainer{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	overflow: scroll;
}

#p2pInputForm{
	width: 50%;
	min-width: 500px;
	margin: 0 auto;
	margin-top: 30vh;
	display: block;
	color: white;
}

#p2pInputContainer table{
	height: 80%;
	margin: 0 auto;
	padding: 0px;
}

#p2pInputContainer table tr td{
	padding: 20px;
}
.p2pInput{
	width: 400px;
	line-height: 2em;
	font-size: 18px;
	color: black; 
}
.inputButton{
	font-size: 16px;
}

#additionalOptions table{
	padding: 0px;
}

#p2pInputForm a {
	color: white;
	text-decoration: none;
}

/****************************************************/
/*Results View*/

#resultsView{
	height: 100%;
	width: 100%;
	overflow: scroll;
	position: absolute;
	left: 150%;
	margin-left: -25%;
}
.inputField{
	padding: 50px;
	margin: 0 auto;
}

#backButton{
	background-image: url("../images/backbutton.png");
    background-size: cover;
    height: 42px;
    left: 1.5%;
    position: fixed;
    width: 42px;
    z-index: 1000;
    opacity: 0;
}

/****************************************************/
/* Results view */

#result{
	width: 50%;
	min-width: 660px;
	margin: 10px auto;
	padding-bottom: 30px;
	background-color: white;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	position: relative;
}
#result table{
	padding: 20px;
	font-size: 30px;
	border-spacing: 0px 20px;
	width: 100%;
}
#result table td:first-child{
	width: 15%;
}
#result table td:nth-child(2){
	width: 30%;
}
#result table td:nth-child(4){
	width: 35%;
}
.platform{
	text-align: right;
	padding-right: 30px;
}
.FromTo{
	font-size: 60px;
}
.time{
	padding-left: 10px;
}
.date{
	text-align: left;
	padding-bottom: 30px;
}
.important{
	font-size: 40px;
}
.grey{
	color: grey;
}
.transfer{
	padding-bottom: 20px;
	border-bottom: 0.5px solid black;
}
.duration{
	text-align: right;
	padding-right: 30px;
	padding-bottom: 30px;

}

.resultSlider{
	position: absolute;
    width: 100%;
    opacity: 0;
}

.resultSlider.frontResult{
	opacity: 1;
}

#rightarrow {
    background: url("../images/rightarrow.png");
    background-size: cover;
    height: 180px;
    width: 110px;
    position: fixed;
    top: 50%;
    margin-top: -5%;
    right: 35px;
    z-index: 1000;
    opacity: 0;
}

#leftarrow {
    background: url("../images/leftarrow.png");
    background-size: cover;
    height: 180px;
    width: 110px;
    position: fixed;
    top: 50%;
    margin-top: -5%;
    left: 35px;
    z-index: 1000;
    opacity: 0;
}

.calButton{
	background-image: url("../images/calbutton.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 1000;
}
/***************************************************
/* Departure Board - Input */

#depBoardInputContainer{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	overflow: scroll;
}

#depBoardInputForm{
	width: 50%;
	min-width: 500px;
	margin: 0 auto;
	margin-top: 40vh;
	display: block;

}

#depBoardInputContainer table{
	height: 80%;
	margin: 0 auto;
	padding: 0px;
}

#depBoardInputContainer table tr td{
	padding: 20px;
}

.depBoardInput{
	width: 400px;
	line-height: 2em;
	font-size: 18px;
	color: black; 
}

.depBoardInputButton{
	font-size: 16px;
}

#depBoardInputForm a {
	color: white;
	text-decoration: none;
}



/***************************************************
/* Departure Board */

#arrivalBoard{
	margin: 0 10%;
	min-width: 950px;
	background-color: rgb(120,185,255);
}

.mainArrival{
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: left;
	background-color: white;
	width: 60%;
	height: 150px;
	margin: 20px 2px;
}
.complArrival{
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: right;
	background-color: white;
	border-radius: 75px;
	width: 150px;
	height: 150px;
	margin: 20px 2%;
}
.arrivalText{
	font-size: 3em;
	margin: 0 10px;
	padding: 0;
}
.arrivalSub{
	font-size: 2em;
	margin-left: 10px;
	margin-top: 20px;
	padding: 0;
}
.minuti{
	text-align: center;
	padding: 0;
	margin: 10% auto;
	font-size: 5em;
}
.currentTime{
	padding-top: 10px;
}
.lineNumber{
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	float: left;
	background-color: white;
	width: 150px;
	height: 150px;
	margin: 20px 10px;
}
