<div>
  <table style="border:1px solid black;">
  	<tr>
  		<td style="border:1px solid black;">From</td>
  		<td style="border:1px solid black;">{{ stationFrom }}</td>
  	<tr>
  	<br>
  	<tr>
  		<td style="border:1px solid black;">To</td>
  		<td style="border:1px solid black;">{{ stationTo }}</td>
  	<tr>
  	<br>
  	<tr>
  		<td style="border:1px solid black;">Departure Time</td>
  		<td style="border:1px solid black;">{{ departureTime }}</td>
  	<tr>
  	<br>
  	<tr>
  		<td style="border:1px solid black;">Arrival Time</td>
  		<td style="border:1px solid black;">{{ arrivalTime }}</td>
  	<tr>
  	<br>
  	<tr>
  		<td style="border:1px solid black;">Departure Platform</td>
  		<td style="border:1px solid black;">{{ departurePlatform }}</td>
  	<tr>
  	<br>
  	<tr>
  		<td style="border:1px solid black;">Arrival Platform</td>
  		<td style="border:1px solid black;">{{ arrivalPlatform }}</td>
  	<tr>
  </table>
</div>